ipykernel
pandas
scikit-learn==1.8.0
streamlit
langchain
langchain-community
langchain-openai
langchain-text-splitters
#faiss-cpu
#pymupdf
#pypdf
python-dotenv
pydantic
langchain-experimental
requests
openai
#chromadb
#sentence-transformers
#langchain-huggingface
langchain-ollama
langchain-experimental
langchain_google_genai
langchain_core
